{
	"useTabs": true,
	"singleQuote": true,
	"arrowParens": "avoid",
	"trailingComma": "none",
	"printWidth": 200,
	"semi": false,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
